<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>List of Receipts</title>
  </head>
  <nav>
    {% if request.user.is_authenticated %}
      <ul>
        <li><a href="{% url 'logout' %}">Logout</a></li>
        <li><a href="{% url 'create_receipt' %}">Create receipt</a></li>
        <li><a href="{% url 'create_category' %}">Create category</a></li>
        <li><a href="{% url 'create_account' %}">Create account</a></li>
        <li><a href="{% url 'account_list' %}">Account List</a></li>
        <li><a href="{% url 'category_list' %}">Category List</a></li>
        <li><a href="{% url 'home' %}">Home</a></li>
      </ul>
    {% else %}
    <a href="{% url 'signup' %}"> Sign up</a>
    <a href="{% url 'login' %}">Login</a>
    {% endif %}


  </nav>
  <body>
    {% block content %}
    {% endblock content %}
  </body>
</html>
