{% extends 'base.html' %}

{% block content %}
    <main>
        <h1>My Receipts</h1>
            <table>
                <thead>
                    <tr>
                        <th>Vendor</th>
                        <th>Total</th>
                        <th>Tax</th>
                        <th>Date</th>
                        <th>Category</th>
                        <th>Account</th>
                    </tr>
                </thead>
                <tbody>
                    {% for receipt_objects in receipt_details_info %}
                        <tr>
                            {% comment %} <td><a hred="{% url 'receipt_details' receipt_objects.id %}"></a> {% endcomment %}
                            <td>{{ receipt_objects.vendor }}</td>
                            <td>{{ receipt_objects.total }}</td>
                            <td>{{ receipt_objects.tax }}</td>
                            <td>{{ receipt_objects.date|date:"m/d/y" }}</td>
                            <td>{{ receipt_objects.category.name }}</td>
                            <td>{{ receipt_objects.account.name }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
    </main>
{% endblock content %}
